
/* Generals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #B91450;
}

/* Utilities  */

.container {
  width: 1170px;
  margin: 50px auto 0;
  padding: 20px 100px;
}

.test{
  background-color: aqua;
  border: 1px solid black;
}



/* Style Main */

/* Parte superiore */
#main-top {
  text-align: center;
}

#main-top h2 {
  color: #fff;
  text-transform: uppercase;
}

#main-top .top {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
}

#main-top .top .data-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
}

#main-top .top .data-top label {
  margin-bottom: 10px;
  color: #B91450;
}

#main-top .top .data-top input,
#main-top .top .data-top select {
  padding:10px 15px;
  border: 1px solid #B91450;
  border-radius:10px;
  text-align:center;
}

#main-top .top .data-top input:focus,
#main-top .top .data-top select:focus {
  outline: none;
}

#main-top .top .buttons {
  margin-top: 60px;
  width: 100%;
}


/* Style Buttons */
#main-top .top .buttons .btn {
  display: inline-block;
  margin: 0 20px;
  padding: 10px 30px;
  border: 2px solid #B91450;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: #B91450;
  background-color: lightgrey;
}

#main-top .top .buttons .btn:hover {
  color: #fff;
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

/* /Parte superiore */

/* Parte inferiore */
#main-bottom h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#main-bottom h3{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3rem;
}

.bottom-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  flex-wrap: nowrap;
}

/* Style Tabella */
table {
  height: 160px;
}

th,td {
  text-align: left;
  padding: 10px 30px;
}

.gray {
  background-color: gray;
}

.col.gray {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
/* /Style Tabella */

.row_bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid black;
  border-bottom: 1px solid grey;
}

.padding {
  padding: 10px 10px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* /Parte inferiore */